 @import url('http://fonts.cdnfonts.com/css/low-gun-screen-expanded');
:root {
    --color-white:#fff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-dark3: #646363;
    --color-blue1: #2E9AFE;
    --color-blue2: #2D629E;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    height: 100vh;
}

img {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/*
        ---- Formatação do cabeçalho ----
*/

.cabecalho {
    font-size: 2em;
    font-family: 'Low Gun Screen', sans-serif;
    background: #e6e6e6;
}

#area-cabecalho {
    background-color: var(--color-blue2);
    padding: 15px;
    padding-top: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

.roxo {
    color: var(--color-white);
}
.ano {
    color: var(--color-white);
}
/*
        ---- Formatação da área principal ----
*/

.container {
    display: flex;
    width: 80%;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    justify-content: center;
}

.area_principal {
    width: 30%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: 10px;
    margin-bottom: 15px; 
    padding: 15px;
    background-color: var(--color-blue2);
}

.butoes {
    display: flex;
    justify-content: space-evenly;
}

.area_principal img {
    display: block;
    margin-top: 12px; 
}

.area_principal p {
    text-align: justify;
    padding: 10px;
}

.area_login {
    width: 30%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--color-dark2);
}

#area_postagem {
    width: 700px; 
    background: var(--color-dark2);
    
}

.postagem {
    padding: 10px;
    margin-bottom: 20px;
}

/*
        ---- Formatação de links ----
*/

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--color-blue1);
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #CCC;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #000;
    background: var(--color-blue1) ;
    text-decoration: none;
}

/*
        ---- Formatação do formulário ----
*/
.content {
    width: 260px; 
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    background-color: var(--color-dark2);
    padding: 2rem;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-white);

}

.content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
    display: none;
}

.inputs {
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus {
    border-color: var(--color-blue1);
}

.box-select {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-blue2);
    color: var(--color-white);
    cursor: pointer;
    transition: .3s;
}

button[type="submit"] .cadastrar {
    border: 2px solid var(--color-blue2);
    background-color: red;
}

button[type="submit"]:hover {
    background-color: var(--color-blue1);
}

@media  screen and (max-width: 576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
}