@import url('http://fonts.cdnfonts.com/css/low-gun-screen-expanded');
:root {
    --color-white:#fff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-dark3: #646363;
    --color-blue1: #2E9AFE;
    --color-blue2: #2D629E;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color-white);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    height: 100vh;
}

/*
        ---- Formatação do cabeçalho ----
*/

.area-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    font-size: 2em;
    font-family: 'Low Gun Screen', sans-serif;
    background-color: var(--color-blue2);
    padding: 32px;
    gap: 16px;
}

#area-logo:hover{
    transform: scale(1.2);
    transition: all 1s;
}

/*
        ---- Formatação de links ----
*/

#area-menu a{
    border-radius: 8px;
    padding:  8px;
}


#area-menu a:hover {
    color: var(--color-dark1);
    border-radius: 8px;
    padding: 8px;
    background-color: var(--color-blue1);
    transition: all 1s;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    padding: 8px 12px;
}

/*
        ---- Formatação da área principal ----
*/

.container {
    display: flex;
    justify-content: center;
    margin-top: 128px;
}

.area_principal {
    width: 20%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: 10px;
    margin-bottom: 15px; 
    padding: 15px;
    background-color: var(--color-blue2);
}

.area_principal img {
    width: 176px;
    margin: 0px auto;
}

.botoes {
    display: flex;
    justify-content: space-around;
}

.botao_entrar,
.botao_enviar {
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-blue2);
    color: var(--color-white);
    cursor: pointer;
    transition: all .8s;
}

.botoes .botao_entrar:hover,
.botao_enviar:hover {
    background-color: var(--color-blue1);
}

.botao_cadastrar {
    padding: 16px;
    font-size: 16px;
    border-radius: 0.35px;
    background-color: var(--color-dark2);
    color: var(--color-blue2);
    border: 0.183px solid var(--color-blue2);
    cursor: pointer;
    transition: all .8s;
}

.botoes .botao_cadastrar:hover {
    color: var(--color-blue1);
    border: 2px solid var(--color-blue1);
}

.erro_login {
    color: var(--color-red);
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.area_principal img {
    display: block;
    margin-top: 12px;
}

.area_principal p {
    text-align: justify;
    padding: 10px;
}

.area_login {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--color-dark2);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 96px 48px 0px 48px;
    gap: 8px;
}

.formulario input{
    outline: none;
    padding: 12px;
    background-color: var(--color-dark1);
    border: solid 2px var(--color-dark1);
    border-radius: 3px;
}

.formulario input:focus{
    border: solid 2px var(--color-blue1);
}

#area_postagem {
    width: 700px; 
    background: var(--color-dark2);
    
}

.postagem {
    padding: 10px;
    margin-bottom: 20px;
}

/*
        ---- Formatação do formulário ----
*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    background-color: var(--color-dark2);
    padding: 32px;
    border-radius: 16px;
}

.text {
    margin: 16px 0px;
    text-align: center;
    color: var(--color-white);

}

.content form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
    display: none;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus {
    border-color: var(--color-blue1);
}

.box-select {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 16px;
}